USE [master]
GO
/****** Object:  Database [demExam]    Script Date: 26.05.2026 16:57:39 ******/
CREATE DATABASE [demExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demExam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\demExam.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demExam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\demExam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demExam]
GO
/****** Object:  User [user1]    Script Date: 26.05.2026 16:57:39 ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[АдресПунктаВыдачи]    Script Date: 26.05.2026 16:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[АдресПунктаВыдачи](
	[Код] [int] NOT NULL,
	[Адрес] [varchar](max) NOT NULL,
 CONSTRAINT [PK_АдресПунктаВыдачи] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 26.05.2026 16:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Номер заказа] [int] NOT NULL,
	[ДатаЗаказа] [date] NOT NULL,
	[ДатаДоставки] [date] NOT NULL,
	[КодАдресаПункта Выдачи] [int] NOT NULL,
	[КодАвторизированногоКлиента] [int] NOT NULL,
	[КодДляПолучения] [int] NOT NULL,
	[СтатусЗаказа] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Номер заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 26.05.2026 16:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Код] [int] NOT NULL,
	[РольСотрудника] [varchar](50) NOT NULL,
	[ФИО] [varchar](max) NOT NULL,
	[Логин] [varchar](50) NOT NULL,
	[Пароль] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СоставЗаказа]    Script Date: 26.05.2026 16:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СоставЗаказа](
	[Код] [int] NOT NULL,
	[НомерЗаказа] [int] NOT NULL,
	[АртикулЗаказа] [varchar](50) NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_СоставЗаказа] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 26.05.2026 16:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[Артикул] [varchar](50) NOT NULL,
	[НаименованиеТовара] [varchar](50) NOT NULL,
	[ЕдиницаИзмерения] [varchar](50) NOT NULL,
	[Цена] [float] NOT NULL,
	[Поставщик] [varchar](50) NOT NULL,
	[Производитель] [varchar](50) NOT NULL,
	[КатегорияТовара] [varchar](50) NOT NULL,
	[ДействующаяСкидка] [int] NOT NULL,
	[КоличествоНаСкладе] [int] NOT NULL,
	[ОписаниеТовара] [varchar](max) NOT NULL,
	[Фото] [varchar](50) NULL,
	[ID] [int] NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[АдресПунктаВыдачи] ([Код], [Адрес]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[АдресПунктаВыдачи] ([Код], [Адрес]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[АдресПунктаВыдачи] ([Код], [Адрес]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Заказ] ([Номер заказа], [ДатаЗаказа], [ДатаДоставки], [КодАдресаПункта Выдачи], [КодАвторизированногоКлиента], [КодДляПолучения], [СтатусЗаказа]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, N'Завершен')
INSERT [dbo].[Заказ] ([Номер заказа], [ДатаЗаказа], [ДатаДоставки], [КодАдресаПункта Выдачи], [КодАвторизированногоКлиента], [КодДляПолучения], [СтатусЗаказа]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, 902, N'Завершен')
INSERT [dbo].[Заказ] ([Номер заказа], [ДатаЗаказа], [ДатаДоставки], [КодАдресаПункта Выдачи], [КодАвторизированногоКлиента], [КодДляПолучения], [СтатусЗаказа]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 2, 903, N'Завершен')
GO
INSERT [dbo].[Пользователь] ([Код], [РольСотрудника], [ФИО], [Логин], [Пароль]) VALUES (1, N'Администратор', N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Пользователь] ([Код], [РольСотрудника], [ФИО], [Логин], [Пароль]) VALUES (2, N'Администратор', N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Пользователь] ([Код], [РольСотрудника], [ФИО], [Логин], [Пароль]) VALUES (3, N'Администратор', N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
INSERT [dbo].[СоставЗаказа] ([Код], [НомерЗаказа], [АртикулЗаказа], [Количество]) VALUES (1, 1, N'А112Т4', 2)
INSERT [dbo].[СоставЗаказа] ([Код], [НомерЗаказа], [АртикулЗаказа], [Количество]) VALUES (2, 2, N'H782T5', 1)
INSERT [dbo].[СоставЗаказа] ([Код], [НомерЗаказа], [АртикулЗаказа], [Количество]) VALUES (3, 3, N'J384T6', 10)
GO
INSERT [dbo].[Товар] ([Артикул], [НаименованиеТовара], [ЕдиницаИзмерения], [Цена], [Поставщик], [Производитель], [КатегорияТовара], [ДействующаяСкидка], [КоличествоНаСкладе], [ОписаниеТовара], [Фото], [ID]) VALUES (N'B320R5', N'Туфли', N'шт.', 1, N'Kari', N'Rieker', N'Женская обувь', 25, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'9.jpg', 1)
INSERT [dbo].[Товар] ([Артикул], [НаименованиеТовара], [ЕдиницаИзмерения], [Цена], [Поставщик], [Производитель], [КатегорияТовара], [ДействующаяСкидка], [КоличествоНаСкладе], [ОписаниеТовара], [Фото], [ID]) VALUES (N'B431R5', N'Ботинки', N'шт.', 2700, N'Обувь для вас', N'Rieker', N'Мужская обувь', 2, 5, N'Мужские кожаные ботинки/мужские ботинки', NULL, 2)
INSERT [dbo].[Товар] ([Артикул], [НаименованиеТовара], [ЕдиницаИзмерения], [Цена], [Поставщик], [Производитель], [КатегорияТовара], [ДействующаяСкидка], [КоличествоНаСкладе], [ОписаниеТовара], [Фото], [ID]) VALUES (N'C436G5', N'Ботинки', N'шт.', 10200, N'Kari', N'Alessio Nesca', N'Женская обувь', 15, 9, N'Ботинки женские, ARGO, размер 40', NULL, 3)
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_АдресПунктаВыдачи] FOREIGN KEY([КодАдресаПункта Выдачи])
REFERENCES [dbo].[АдресПунктаВыдачи] ([Код])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_АдресПунктаВыдачи]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пользователь] FOREIGN KEY([КодАвторизированногоКлиента])
REFERENCES [dbo].[Пользователь] ([Код])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пользователь]
GO
ALTER TABLE [dbo].[СоставЗаказа]  WITH CHECK ADD  CONSTRAINT [FK_СоставЗаказа_Заказ] FOREIGN KEY([НомерЗаказа])
REFERENCES [dbo].[Заказ] ([Номер заказа])
GO
ALTER TABLE [dbo].[СоставЗаказа] CHECK CONSTRAINT [FK_СоставЗаказа_Заказ]
GO
ALTER TABLE [dbo].[СоставЗаказа]  WITH CHECK ADD  CONSTRAINT [FK_СоставЗаказа_Товар] FOREIGN KEY([АртикулЗаказа])
REFERENCES [dbo].[Товар] ([Артикул])
GO
ALTER TABLE [dbo].[СоставЗаказа] CHECK CONSTRAINT [FK_СоставЗаказа_Товар]
GO
USE [master]
GO
